<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	</head>
	<body>
        <form method="post" action="{{ url_for('auth.verify_user') }}">
            <label>Enter 10-digit mobile number</label>
            <input type="text" name="mobile">
            <label>Enter 4-digit OTP sent to your mobile</label>
            <input type="text" name="otp">
            <button type="submit">Verify mobile number</button>
        </form>
    </body>
</html>